extends layout

block content
  h1= title
  p bem vindo a biblioteca do local library, desfrute do arcevo de livros

  h1 Conteudo dinamico

  p A biblioteca tem as seguintes contagens de registros:

  ul
    li #[strong livors:] !{book_count}
    li #[strong Cópias:] !{book_instance_count}
    li #[strong Cópias disponíveis:] !{book_instance_available_count}
    li #[strong Autores:] !{author_count}
    li #[strong Genêros:] !{genre_count}
